[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pgrunchich
[access "refs/for/refs/*"]
	read = group user/pgrunchich
	push = group user/pgrunchich
	label-Code-Review = -2..+2 group user/pgrunchich
	label-Verified = -1..+1 group user/pgrunchich
	rebase = group user/pgrunchich
	removeReviewer = group user/pgrunchich
	submit = group user/pgrunchich
[access "refs/heads/*"]
	read = group user/pgrunchich
	create = group user/pgrunchich
	push = +force group user/pgrunchich
	pushMerge = group user/pgrunchich
[access "refs/tags/*"]
	push = +force group user/pgrunchich
	pushTag = group user/pgrunchich
	pushSignedTag = group user/pgrunchich
